*
{
    margin: 0;
    padding: 0;
}
html
{
    font-family: Arial, Helvetica, sans-serif;
}
body
{
    background-image: url(./Logo/headerBackground.jpg);
background-attachment: fixed;
background-position: center;
background-size: 100%;
color: aliceblue;
}
nav
{
    display: flex;
    justify-content: space-around;
align-items: center;
    /* flex-direction: row; */
    height: 10vh;
    font-weight: bold;
}
/* img
{
    height: 20%;
    width: 20%;
} */
ul
{
    padding-top: 3em;
    display: flex;
    list-style: none;
    gap: 5em;
    
}
a
{
    text-decoration: none;
    color: aliceblue;
}
.conteaner
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    gap: 1em;
}
a:hover
{
    background-color:azure ;
    color: rgb(5, 5, 20);
    transition: ease 0.7s;
    padding: 5px ;
    border-radius: 3px;
}
input
{
    border-radius: 3px;
    padding: 3px ;
    
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}